<p>
v aplikaci <%= t(:app_name) %> Vám byl vytvořen přístup.
Vaše přístupové údaje jsou:
</p>
<ul>
  <li>login: <%= @user.login %></li>
  <li>heslo: <%= @password %></li>
</ul>

<p>
Po prvním přihlášení budete vyzváni ke změně hesla.
</p>
