<p>
  v aplikaci <%= t(:app_name) %> jste si vyžádal/a změnu hesla, pro provedení této změny klikněte prosím <%= link_to 'sem', new_password_url(@token) %>.
</p>
<p>
  Tento odkaz je platný hodinu od vyplnění žádosti.
</p>
<p>
  Pokud jste o změnu hesla nežádal/a, tento e-mail ignorujte.
</p>
