<!DOCTYPE html>
<html>
<head>
  <title>Egov utils</title>
  <%= stylesheet_link_tag    "egov_utils/application", media: "all" %>
  <%= javascript_include_tag "egov_utils/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
